* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.25em;
}

*:before,
*:after {
 box-sizing: border-box;
}

h1, body {
  margin: 0;
}

h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

main {
  padding-top: 175px;
}

.bio-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
}

.project-pic {
  width: 80%;
}

h3 {
  font-size: 1.75em;
}

section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

section.contact {
  margin-bottom: 100px;
}

.projects {
  margin-top: 120px;
}

.contact-links li {
  display: inline-block;
  margin-right: 20px;
}

.project-list li {
  margin-bottom: 100px;
}

i {
  font-size: 3em;
}

a {
  color: #0d324d;
  text-decoration: none;
}

a:hover { 
  color: #e4dfda;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  background-color: #edf2f4;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #73c2be;
  text-align: center;
}

header {
  opacity: 1;
  background-color: #73c2be;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  padding-left: 0;
}

nav {
  font-size: 1.5em;
}

li {
  list-style-type: none;
  line-height: 2em; 
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  margin-top: 35px;
  line-height: 40px;
}

@media only screen and (max-width: 590px) {
	.flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project-pic {
    width: 100%;
  }

  main {
    padding-top: 200px;
  }

  .bio-pic {
    height: 200px;
    width: 200px;
  }
  

  section.contact {
    margin-bottom: 150px;
  }

  .projects {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 330px) {

  main {
    padding-top: 225px;
  }
  
  section.contact {
    margin-bottom: 175px;
  }

  .projects {
    margin-top: 175px;
  }
}